body {
  margin: 0;
  background-image: url("images/background.jpeg");
  background-repeat: no-repeat;
}

.container {
  background: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tab-area {
  border: 1px solid gray;
  margin-top: 16px;
}
.tab-items {
  display: flex;
  position: relative;
  border-bottom: 1px solid gray;
}
.tab-items div {
  padding: 1em;
  cursor: pointer;
}
#under-line {
  height: 3px;
  width: 50px;
  background: pink;
  position: absolute;
  left: 0;
  top: 53px;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.task-done {
  text-decoration: line-through;
}
